@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: black;
}

#root {
  height: 100%;
}

@layer base {
  p {
    @apply text-white;
  }
  h1 {
    @apply text-white text-2xl font-semibold;
  }
  h2 {
    @apply text-white text-xl font-semibold;
  }
}

/* HD - 1280px */
@media (max-width: 1280px) {
  h2 {
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  }
}

/* Full HD - 1920px */
@media (max-width: 1920px) and (min-width: 1281px) {
  h2 {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
  }
}

/* 4K - 3840px */
@media (min-width: 1921px) {
  h2 {
    font-size: 80px; /* Ajuste o tamanho da fonte conforme necessário */
    line-height: 100px;
  }
}
